<!DOCTYPE html>

<html>
    <body>
        <form method="post">
            <label for="feedname">Feed name:</label>
            <input type="text" id="feedname" name="feedname">
            <label for="params">Feed params:</label>
            <input type="text" id="feedparams" name="feedparams">
            <input type="submit" value="Submit">
        </form>
        
        <ul>
           {% for item in data %} 
           
           <li>{{ item.0 }} | <a href="/{{ item.1 }}">{{ item.1 }}</a> | last update [{{ item.3 }}] | {{ item.2 }}</li>
           
           {% endfor %}
        </ul>
    </body>
</html>